::placeholder {
  color: #adadad; }

body {
  background: #dcbb9a;
  color: black; }

#content {
  width: 960px;
  margin: 0 auto;
  padding: 10px 20px 20px 20px;
  background: white; }

h1 {
  color: #893c00;
  text-align: center; }

h2 {
  color: #bc5200; }

img {
  margin: 0 20px 5px 0;
  padding: 1px;
  border: 3px solid #ad4c00; }

.img-left {
  float: left; }

.img-right {
  float: right;
  margin-left: 15px;
  margin-right: 0px; }

.brief {
  width: 40%;
  padding: 20px;
  background: #fadcba;
  float: left;
  margin: 0 15px 15px 0;
  color: black; }

a {
  color: #3d70a1; }
  a:hover {
    color: #213d57; }

caption {
  text-align: right; }

th {
  background: #e0e0e0;
  font-size: 14pt;
  font-weight: lighter;
  text-transform: uppercase;
  text-align: left;
  padding: 7px 15px 7px 15px; }
  th:not(:last-child) {
    border-right: 2px solid #cccccc; }

td {
  text-align: left;
  padding: 7px 15px 7px 15px;
  background: transperent; }

table {
  border-collapse: collapse; }

tr {
  border-bottom: 1px solid #e0e0e0; }
  tr:first-child {
    border-bottom: none; }

form p {
  float: left;
  margin: 0 0 15px 0;
  width: 100%;
  text-transform: uppercase;
  color: #adadad; }
  form p input, form p textarea {
    padding: 3px;
    width: calc(100% - 10px);
    margin-top: 5px; }
  form p textarea {
    width: calc(100% - 6px);
    height: 200px; }

.half-form {
  width: calc(50% - 5px); }
  .half-form:first-child {
    margin-right: 10px; }

button {
  float: left;
  border: 1px solid #3d70a1;
  color: #3d70a1;
  text-transform: uppercase;
  padding: 10px 50px;
  background: transparent;
  cursor: pointer; }
  button:hover {
    box-shadow: inset 10px 10px 5px 200px rgba(0, 0, 0, 0.75); }