$bodyBackground: #dcbb9a;
$contentBackground: white;
$textColor: black;
$header1Color: #893c00;
$header2Color: lighten(#893c00, 10%);
$imageBorder: lighten(#893c00, 7%);
$briefBackground: #fadcba;
$link: #3d70a1;
$linkHover: darken(#3d70a1, 20%);
$tableColor: #e0e0e0;
$tableCels: transperent;
$formColor: darken($tableColor, 20%);