$bodyBackground: rgba(198, 238, 252, 0.53);
$contentBackground: #3b3b3b;
$textColor: white;
$header1Color: #fccd10;
$header2Color: $header1Color;
$imageBorder: darken($header1Color, 10%);
$briefBackground: #fff178;
$link: darken(#f5c70f, 10%);
$linkHover: darken($link, 10%);
$tableColor: #94a34e;
$tableCels: #677d01;
$formColor: $link;
$caption: black;